<div class="skill-information">
  <a href="#" class="button button-close">x</a>
  <div class="profile">
    <portrait :it="it" :hasHoverEffect="false" />
    <div class="names">
      <div class="name">{{it.name_CH}}</div>
      <div class="name">{{it.nickname}}</div>
      <div class="name">{{it.name_JP}}</div>
      <div class="name">{{it.name_KR}}</div>
    </div>
  </div>
  <div class="skills">
    <p class="skill leader" data-title="隊長增益 (Leader Buff)" v-html="numberHighlight(it.LeaderSkill)">
    </p>
    <p class="skill auto" data-title="基本攻擊 (Auto)" v-html="numberHighlight(it.BaseSkill)"></p>
    <p class="skill tap" data-title="NS (Tap Skill)" v-html="numberHighlight(it.NormalSkill)">
    </p>
    <p class="skill slide" data-title="SS (Slide Skill)" :data-cooldown="it.cooldown" v-html="numberHighlight(it.SlideSkill)">      
    </p>
    <p class="skill drive" data-title="DS (Drive Skill)" v-html="numberHighlight(it.DriveSkill)">
    </p>
  </div>
</div>
