/* library */
@import '~@/styles/configs';

.library {
  > .container {
    background-image: url('~@/assets/view/Library/content_bg.png');
    background-position: left top;
    box-shadow: 0 0 50px 0 map-get($colors, darkest) inset,
      0 0 150px 0 map-get($colors, darkest) inset,
      0 0 250px 0 map-get($colors, darkest) inset;
    transition: 0.3s;

    &.blur {
      transition: 0.6s;
    }
  }
  .group {
    padding: 0 3%;
  }
  .group-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .portrait {
    margin: 0 1%;
    width: (88% / 6);
    .jp {
      display: none;
    }
  }
}
.library-header {
  position: relative;
  height: 90px;
  background-image: url('~@/assets/view/Library/page-header.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 512px auto;
  border-bottom: 2px solid map-get($colors, assist-opacity);
  box-shadow: 0px 0px 100px map-get($colors, darkest),
    0 10px 50px map-get($colors, darkest) inset,
    0 -10px 50px map-get($colors, darkest) inset;
  > .container {
    height: 100%;
  }
}
.overlay {
  position: fixed;
  z-index: 10;
  top: 34px;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow-y: auto;
  background-color: map-get($colors, dark-transparent);
  > .skill-information {
    position: relative;
    z-index: 1;
  }
}
@media (min-width: map-get($container-max-width, sm)) {
}
@media (min-width: map-get($container-max-width, md)) {
}
@media (min-width: map-get($container-max-width, lg)) {
  .library {
    .group {
      padding: 0 6%;
    }
    .portrait {
      margin: 0 0.5%;
      width: (92% / 8);

      .jp {
        display: block;
      }
    }
  }
  .library-header {
    height: 180px;
    background-size: 1024px auto;
  }
}
@media (min-width: map-get($container-max-width, xl)) {
}
