@import './configs';

.container,
.container-fluid {
  margin: auto;
  padding: 0 $spacing;
}
.container {
  .container {
    width: auto;
  }
}

.blur {
  filter: blur(10px);
}

.button {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;

  &.button-close,
  &.button-cancel {
    background-image: url('~@/assets/common/icn_cancel.png');
    background-size: 80%;
    width: 50px;
    height: 50px;
    opacity: 0.33;
    transition: 0.5s opacity;
    font-size: 0;
    &:hover {
      opacity: 1;
    }
  }
}

@media (min-width: map-get($media-width, sm)) {
  .container {
    width: 100%;
    max-width: map-get($container-width, sm);
  }
}
@media (min-width: map-get($media-width, md)) {
  .container {
    max-width: map-get($container-width, md);
  }
}
@media (min-width: map-get($media-width, lg)) {
  .container {
    max-width: map-get($container-width, lg);
  }
}
@media (min-width: map-get($media-width, xl)) {
  .container {
    max-width: map-get($container-width, xl);
  }
}
