// colors

$color-primary: #ee2c31;
$color-assist: #ff9f24;
$color-font: darken($color-primary, 10%);
$color-light: #fff;
$color-dark: #333;

$font-primary: darken($color-primary, 10%);

$colors: (
  primary: $color-primary,
  primary-opacity: rgba($color-primary, 0.85),
  primary-light: lighten($color-primary, 20%),
  primary-dark: darken($color-primary, 20%),
  assist: $color-assist,
  assist-opacity: rgba($color-assist, 0.85),
  assist-light: lighten($color-assist, 20%),
  assist-dark: darken($color-assist, 20%),
  font: $color-font,
  font-opacity: rgba($color-font, 0.85),
  font-light: lighten($color-font, 35%),
  font-dark: darken($color-font, 35%),
  light: $color-light,
  light-opacity: rgba(255, 255, 255, 0.85),
  dark: $color-dark,
  dark-opacity: rgba(0, 0, 0, 0.85),
  dark-transparent: rgba(0, 0, 0, 0.5),
  darkest: #000
) !default;

// fonts
$fonts: (
  h1: 40px,
  h2: 36px,
  h3: 32px,
  h4: 28px,
  h5: 24px,
  h6: 20px,
  xs: 12px,
  sm: 14px,
  md: 16px,
  lg: 18px,
  xl: 20px,
  title-sm: 22px,
  title-md: 24px,
  title-lg: 28px,
  title-xl: 32px
) !default;

// RWD
$container-max-width: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;
