@import './normalize';
@import './components';

::-webkit-scrollbar {
  visibility: hidden;
  width: 0px;
}

body {
  background-color: #000;
  &.locked {
    overflow: hidden;
  }
}

#app {
  font-family: 'Microsoft JhengHei', 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: map-get($colors, assist);
}

.logo {
  border-radius: 60px;
  box-shadow: 1px 1px 10px map-get($colors, dark);
}

@media (min-width: map-get($container-max-width, sm)) {
  body {
    // background-color: #f20;
  }
}
@media (min-width: map-get($container-max-width, md)) {
  body {
    // background-color: #f50;
  }
}
@media (min-width: map-get($container-max-width, lg)) {
  body {
    // background-color: #fa0;
  }
}
@media (min-width: map-get($container-max-width, xl)) {
  body {
    // background-color: #fc0;
  }
}
