/* global-header */
@import '~@/styles/configs';

.global-header {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  padding: 5px 0;
  width: 100%;
  background-color: map-get($colors, dark-opacity);
  text-align: center;
  font-size: 0;
}

.nav-link {
  padding: 0 10px;
  text-decoration: none;
  font-size: map-get($fonts, lg);
  color: map-get($colors, assist);
  line-height: 25px;

  &:hover {
    color: map-get($colors, font);
  }
  & + .nav-link {
    border-left: 1px solid map-get($colors, assist-light);
  }
}

@media (min-width: map-get($media-width, sm)) {
  .nav-link {
    &:last-child {
      display: inline-block;
    }
  }
}
@media (min-width: map-get($media-width, md)) {
}
@media (min-width: map-get($media-width, lg)) {
}
@media (min-width: map-get($media-width, xl)) {
}
