<div class="global-header">
  <div class="container">
    <nav>
      <router-link class="nav-link" to="/">首頁</router-link>
      <router-link class="nav-link" to="/Library">圖鑑</router-link>
      <!-- <router-link class="nav-link" to="/Item">裝備</router-link> -->
      <router-link class="nav-link" to="/SoulCarta">魂卡</router-link>
      <!-- <router-link class="nav-link" to="/Narrative">收集品</router-link> -->
      <!-- <router-link class="nav-link" to="/Live2D-Repacked">Live 2D</router-link> -->
    </nav>
  </div>
</div>
