/* home */
@import '~@/styles/configs';

%background-default {
  background-position: center center;
  background-repeat: no-repeat;
}
.home {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.transition {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50vh;
  margin-left: -150vw;
  margin: auto;
  transform-origin: 50% 33%;
  transform: rotate(-15deg) translateX(100%);
  height: 100%;
  @extend %background-default;
  background-size: auto 100%;
  background-position: center center;
  &.active {
    transform: rotate(-15deg) translateX(0%);
    transition: transform 3s;
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: (100% / 3);
    height: 100%;
    @extend %background-default;
    background-size: 100%;
    background-position: left center;
  }
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: (100% / 3);
    height: 100%;
    @extend %background-default;
    background-size: 100%;
    background-position: right center;
  }

  $trans: (
    0: 'trans_000',
    1: 'trans_001',
    2: 'trans_002',
    3: 'trans_003',
    4: 'trans_004',
    5: 'trans_005',
    6: 'trans_006',
    7: 'trans_007',
    8: 'trans_008',
    9: 'trans_009',
    10: 'trans_010',
    11: 'trans_011',
    12: 'trans_012',
    13: 'trans_013'
  );

  @for $i from 0 through 13 {
    &.#{map-get($trans, $i)} {
      background-image: url('/transition/#{map-get($trans, $i)}/trans_center.png');
      &:before {
        background-image: url('/transition/#{map-get($trans, $i)}/trans_left.png');
      }
      &:after {
        background-image: url('/transition/#{map-get($trans, $i)}/trans_right.png');
      }
    }
  }
}
