<div class="soul-carta-information">
  <div class="frame" :class="{disabled: isFrameHidden}" :data-star="star">
    <div class="frame-header">
      <div class="name">
        <div class="name-text"></div>
        {{ it.name_jp }}
        <div v-if="it.name_ch && it.name_ch !== it.name_jp" class="name-text">
          ({{ it.name_ch }})
        </div>
      </div>
      <div class="stars"><span class="star" v-for="i in star"></span></div>
    </div>
    <!-- <div class="level">{{ star * 10 }}</div> -->
    <div class="description">
      <div class="text" v-html="spaceToBr(it.description)"></div>
      <div class="effects">
        <ul>
          <li v-if="it.hp" data-title="HP">{{ it.hp | numberWithComma }}</li>
          <li v-if="it.atk" data-title="攻擊力">
            {{ it.atk | numberWithComma }}
          </li>
          <li v-if="it.def" data-title="防禦力">
            {{ it.def | numberWithComma }}
          </li>
          <li v-if="it.agl" data-title="機敏度">
            {{ it.agl | numberWithComma }}
          </li>
          <li v-if="it.crt" data-title="爆擊">
            {{ it.crt | numberWithComma }}
          </li>
        </ul>
      </div>
      <div class="text" v-html="spaceToBr(it.effect)"></div>
    </div>

    <!-- <div class="slot">*****</div> -->
  </div>
  <img
    :src="'/DestinyChild/icon/soul_carta/' + it.icon + '.png'"
    :alt="it.icon"
  />
  <a
    href="javascript:;"
    class="button button-frame"
    :class="{active: isFrameHidden}"
    @click="isFrameHidden = !isFrameHidden"
    >no-frame</a
  >
  <slot>
    <a href="javascript:;" class="button button-close">close</a>
  </slot>
  <slot name="form"></slot>
</div>
